{% set pageId = "auction" %}
{% extends "layout/_main.njk" %}

{% block headStyles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/{{ env.npm_package_version | urlencode }}/auction.css">
{% endblock %}

{% block bodyScripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
  <script src="/js/{{ env.npm_package_version | urlencode }}/auction.js"></script>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">

        {% if env.ENABLE_AUCTION_PARTICIPATION === 'true' %}
          <div id="rootAuctionApp"></div>
        {% endif %}

        <h1>Trustlines Validator Auction</h1>

        <p class="content-large">The Trustlines validator auction is used to determine the validator set for the Trustlines Blockchain. The validator set is valid for nine months. This auction is the second validator auction. To participate in the auction, a whitelisted Ethereum address has to bid with Trustlines Network Tokens (TLN) after the auction has started and before the auction has ended.</p>
        <p class="content-large"><b>Please be sure to not send TLN directly to the auction contract but instead use the bid process you can find on this website!</b></p>

        {% if env.SHOW_AUCTION === 'true' %}
          {# Chart #}
          <div id="loading-message"></div>
          <div class="level chart-addons">
            <div class="level-left"></div>
            <div class="level-right">
              <div class="level-item">
                <span class="icon is-medium slot-price-color p-b-xs">
                  <i class="fas fa-circle">
                  </i>
                </span>
                Slot Price
              </div>
              <div class="level-item">
                <span class="icon is-medium bid-price-color p-b-xs">
                  <i class="fas fa-circle">
                  </i>
                </span>
                Bid Price
              </div>
            </div>
          </div>
          <div class="chart-container">
            <canvas id="bids">
            </canvas>
            <div class="chartjs-tooltip" id="tooltip"></div>
          </div>
          <div class="columns p-t-xl chart-addons">
            <div class="column is-3">
              <h3 class="subtitle is-3 has-text-weight-bold is-marginless has-text-primary" id="remaining-time">
              </h3>
              <p class="has-text-grey">Remaining Time</p>
            </div>
            <div class="column is-2">
              <h3 class="subtitle is-3 has-text-weight-bold is-marginless has-text-primary" id="slots-free">
              </h3>
              <p class="has-text-grey">Free Slots</p>
            </div>
            <div class="column is-2">
              <h3 class="subtitle is-3 has-text-weight-bold is-marginless has-text-primary" id="slots-max">
              </h3>
              <p class="has-text-grey">Max. Slots</p>
            </div>
            <div class="column is-2">
              <h3 class="subtitle is-3 has-text-weight-bold is-marginless has-text-primary" id="slots-taken">
              </h3>
              <p class="has-text-grey">Taken Slots</p>
            </div>
            <div class="column is-2">
              <h3 class="subtitle is-3 has-text-weight-bold is-marginless has-text-primary" id="slots-min">
              </h3>
              <p class="has-text-grey">Min. Slots</p>
            </div>
          </div>
          <div class="columns chart-addons">
            <div class="column is-7">
              <div class="is-rounded button is-background-gradient-dark has-text-white is-button-styled" id="address-reveal-link">Reveal Contract address</div>
              <div id="address">
                <h5 class="subtitle is-5 has-text-weight-bold is-marginless has-text-primary" >
                  <u><a href="{{ env.REACT_APP_EXPLORER_URL }}address/{{ env.AUCTION_ADDRESS }}" class="">{{ env.AUCTION_ADDRESS }}</a></u>
                </h5>
                <p class="has-text-danger m-b-none">Do not diretly send eth or tokens to this address.</p>
              </div>
              <div class="has-text-grey" id="address-description">Auction contract Address</div>
            </div>
            <div class="column is-5">
              <h5 class="subtitle is-3 has-text-weight-bold is-marginless has-text-primary" id="current-price">
              </h5>
              <p class="has-text-grey" id="current-price-desc">Lowest Slot Price</p>
            </div>
          </div>
        {% endif %}

        {% include "auction/_description.njk" %}

      </div>
    </div>
  </section>


  {# Modal Dialog #}
  <div id="terms-and-conditions-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title has-text-weight-bold">Terms and Conditions for the Trustlines Validator Auction</p>
        </header>
        <section id="terms-and-conditions-modal-content" class="modal-card-body has-text-grey">

                  {% include "auction/_terms-conditions.njk" %}

        </section>
        <footer class="modal-card-foot">
          <div class="container has-text-centered">
            <div class="columns is-centered">
              <div class="column is-one-third">
                <button id="terms-and-conditions-modal-button-reject" class="button is-rounded has-text-weight-bold is-outlined is-primary is-fullwidth is-button-styled">
                  Reject
                </button>
              </div>
              <div class="column is-one-third">
                <button id="terms-and-conditions-modal-button-accept" class="button is-rounded has-text-weight-bold has-text-white is-background-gradient-dark is-fullwidth is-button-styled">
                  Accept
                </button>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

{% endblock %}
