{% set pageId = "grants" %}
{% extends "layout/_main.njk" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">

            <h1>The Trustlines Grants</h1>
            <h2>1. Background</h2>
            <p class="content-large">
              The Trustlines Foundation pursues the charitable goal of promoting financial and economic inclusion of all people through decentralized peer-to-peer network protocols that serve common accounting. To ensure the pursuit of this goal in the long term, the Trustlines Foundation provides grants to projects that actively contribute to the development and the usage of the Trustlines ecosystem.
            </p>

            <h2>2. Eligibility requirements</h2>
            <ul class="content-large">
              <li><b>Open-source software</b>
                <p>
                  As the Trustlines Foundation values and aims to promote the philosophy of decentralized networks, projects should also be open source.
                </p>
              </li>
              <li><b>Aiding the Trustlines cause</b>
                <p>
                  We are offering grants to anyone willing to contribute to the growth and development of the Trustlines ecosystem. This condition remains unspecific as we desire to foster all kinds of projects as long as they support our mission.
                </p>
              </li>
            </ul>

            <h2>3. Exemplary projects</h2>
            <p><i>Suppose you already have an idea that you want to pursue. In that case, you can skip the following part or gather some extra-inspiration.</i></p>
            <p class="content-large">
              We are aware that there is a sheer endless amount of different projects that could be undertaken while also following our eligibility requirements. Furthermore, we know that the best ideas may be entirely unexpected. Yet, we want to share some rough examples for possible projects with you, which came to our minds when elaborating on the concept of providing these grants:
            </p>
            <ul class="content-large">
              <li><b>Community currency projects</b> that build on top or integrate with Trustlines Protocol, e.g., regional currency networks</li>
              <li><b>Adaptation to specifications</b>, e.g., developing or deploying variations of the Trustlines Protocol to achieve a fit of the system with local, cultural, or religious requirements. For example, deploying a currency network that disables interest rates for an Islamic finance use case</li>
              <li><b>User adoption</b>, e.g., creating educational resources, organizing meetups, hosting workshops, etc.</li>
              <li><b>Research</b>, e.g., economics Ph.D. researching credit networks or P2P payment channel networks, especially on the so-called “imbalanced channel” problem</li>
              <li><b>User experience enhancements</b>, e.g., building a more advanced mobile application or integrating localization features</li>
            </ul>

            <h2>4. Our value proposition</h2>
            <h3>Funding</h3>
            <p>The grant's total size depends on your project's scope, your specific requirements, and the estimated budget of the project. It will be paid out in <a href="https://docs.trustlines.network/docs/resources/glossary.html" target="_blank">TLN</a>.</p>
            <p>Furthermore, milestones might potentially be defined for each stage of the project during the application process. These milestones can include criteria that will be required to be met for further payouts.</p>
            <p>Lastly, further grants will also be available, subject to the progress of your project.</p>

            <h3>Mentorship</h3>
            <p>To ultimately leverage your project's potential, we also offer mentorship by providing you access to our network in the Ethereum ecosystem. For example, suppose you are looking for exchange opportunities. In that case, we are happy to use our connections to other community currency projects.</p>

            <h3>Use of trademarks</h3>
            <p>Last but not least, the Foundation's Trustlines trademarks can be used by projects building on top of the Trustlines Protocol following the <a href="https://docs.trustlines.network/docs/foundation/trademarks.html" target="_blank">Trustlines Trademark Guidelines</a>. This way, your project can already benefit from the popularity of the Trustlines Protocol starting day one.</p>
            <p>For example, this trademark will give you better access to the existing Trustlines community and increase your reach to promote your project to potential users.</p>

            <h2>5. How to apply</h2>
            <p>As soon as  applications open, we will be waiting for your submission. As of now, we are not planning to close the application window anytime soon. In short, you can apply anytime.</p>
            <p>Once we receive your application, we will start the evaluation process. The evaluation process includes an initial screening of your application, followed by an in-depth review and potentially also an interview if necessary.</p>
            <p>This process's duration depends on your application's level of detail and the scope of your project in general. Thus we ask for your understanding that we cannot provide any specific timeframe in which the evaluation process will occur.</p>
            <p>Please be aware that we might contact you for additional information throughout the process if we are missing any, so we kindly ask you to be available.</p>
            <p>You can apply via <a href="https://docs.google.com/forms/d/e/1FAIpQLSdSGkkafn3jDvFmv8S_FwWVoSkGXc6UGMDjTKw6Maoibcz5Jg/viewform" target="_blank">Google Forms.</a></p>

            <h2>6. Important to know</h2>
            <ul class="content-large">
              <li>Please provide us with only one contact person to ease communication if you are applying as a team.</li>
              <li>As mentioned, payouts are linked to milestones, which are defined during the application process. For this reason, we will  track the project’s success throughout the process closely.</li>
              <li>To ensure compliance with current regulations regarding the financial sector, you or your team will need to pass a standard “Know Your Customer” (KYC) and ”Anti-Money Laundering” (AML) procedure during the review process.</li>
            </ul>

            <h2>7. Frequently Asked Questions</h2>
            <ul class="content-large">
              <li><b>I have received some form of other funding already, but it is not sufficient. Can I still apply?</b>
                <p>
                  Yes. However, the Trustlines Foundation reserves the right to access the complete information regarding your use of funds  to determine your eligibility during the evaluation process.
                </p>
              </li>
              <li><b>Does the Trustlines Foundation require equity in return?</b>
                <p>
                  No, the Trustlines Foundation does not require any equity or control over your project.
                </p>
              </li>
              <li><b>Can I apply as a legal entity or private person?</b>
                <p>
                  If a legal entity has already been established, apply as such. If not, or if you’re in the process of forming a legal entity, we ask you to apply as a private person initially.
                </p>
              </li>
              <li><b>What is expected of me when I receive a grant?</b>
                <p>
                  This depends on various aspects, such as the grant size. It will be agreed upon before receiving funding. We may ask you to give periodic updates on the project’s progress.
                </p>
              </li>
              <li><b>Is my project eligible if only parts of it are open source?</b>
                <p>
                  Yes, funding is still possible. In this case, please outline what parts exactly will or will not be open source in your application.
                </p>
              </li>
            </ul>
            <p>Please note that these guidelines are always a work in progress and will get updated as we learn more. If you have suggestions, you can always reach out to us.</p>
            <p>Do you have any further questions? We are happy to help at <a href="mailto:contact@trustlines.foundation">contact@trustlines.foundation</a>.</p>
          </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

      </div>
    </div>
  </section>
{% endblock %}
