{% set pageId = "merkle" %}
{% extends "layout/_main.njk" %}

{% block bodyScripts %}
  {{ super() }}
  <script src="/js/{{ env.npm_package_version | urlencode }}/merkle-drop.js"></script>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h1>Trustlines Merkle drop</h1>
            <hr/>
            <p>Transaction fees on the Trustlines Blockchain will be paid in Trustlines Coins (TLC). A Merkle drop on Ethereum will distribute Trustlines Network Tokens (TLN), which can be converted into TLC using a token bridge.</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h2>Introducing the Trustlines Merkle drop</h2>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <p>Trustlines Blockchain requires transaction fees to be paid in the cryptocurrency native to the blockchain: the Trustlines Network Coins (TLC). However, in order to reach a broad set of individuals, a Merkle drop (a “non-spammy” version of an
              airdrop) of Trustlines Network Tokens (TLN) will be conducted on Ethereum. TLN are ERC20 tokens which can be converted to TLC by sending them to a bridge contract.</p>
            <p>The Merkle drop is a smart contract deployed on the Ethereum blockchain. It contains a list of addresses and the amount of claimable Trustlines Network Tokens (TLN) per address in the form of a Merkle root. In order to claim the tokens, recipients
              will have to provide a Merkle proof to this contract which shows that they are entitled to TLN.</p>
            <p>Trustlines Foundation aims to distribute up to 70% of TLN of which 50% will be allocated in the first Merkle drop. More details will be communicated once the final Merkle drop list has been created.</p>
            <p>The tokens won’t be pushed onto accounts, but will instead have to be claimed from the Merkle drop smart contract.</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h2>The Merkle drop will</h2>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-2 has-text-centered">
            <img src="/img/icon-reward.svg">
          </div>
          <div class="column is-5">
            Reward
            <strong>early contributors</strong>, e.g. validators, testers, developers and others.
            <hr/>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-2 has-text-centered">
            <img src="/img/icon-target.svg">
          </div>
          <div class="column is-5">
            Target
            <strong>potential stakeholders</strong>
            of the Trustlines Network, e.g. individuals/ projects aligned with the mission of Trustlines, who may turn into users of the Trustlines technology stack.
            <hr/>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-2 has-text-centered">
            <img src="/img/icon-audience.svg">
          </div>
          <div class="column is-5">
            Make TLC available to a
            <strong>wide audience</strong>
            consisting of addresses and individuals from within the crypto and community currency ecosystems.
            <hr/>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h2>Merkle Drop FAQ</h2>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <p>
              <b>1. What is the Trustlines Merkle drop?</b>
            </p>
            <p>The Trustlines Merkle drop is a token distribution method chosen by the Trustlines Foundation for the Trustlines Network Token.</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <p>
              <b>2. Why did you choose a Merkle drop?</b>
            </p>
            <p>The Trustlines Foundation based the distribution method design principles of the
              <a href="https://medium.com/@DJohnstonEC/the-smartdrop-model-859888916d94" target="_blank">smart drop</a>.</p>
            <p>The Merkle drop is used as a tool to</p>
            <ul>
              <li>Reward early contributors, e.g. validators, testers, developers and others</li>
              <li>Target potential stakeholders of the Trustlines Network, e.g. individuals/ projects aligned with the mission of Trustlines, who may turn into users of the Trustlines technology stack</li>
              <li>Make TLC available to a wide audience consisting of addresses and individuals from within the crypto and community currency ecosystems by providing them with TLN that they can convert into TLC via the bridge</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>3. Can I receive multiple allocations of TLN?</b>
          </p>
          <p>Yes. There are two ways in which this could happen.</p>
          <ul>
            <p>1. You happen to control the private key of multiple eligible Ethereum addresses.</p>
            <p>2. One or more of your eligible Ethereum addresses were included in multiple lists.</p>
          </ul>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>4. Is TLN freely transferable/tradeable?</b>
          </p>
          <p>Yes, it’s an ERC20 token on the Ethereum mainchain.</p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>5. Can I withdraw tokens to an address other than the one I’m claiming with?</b>
          </p>
          <p>No. You will need to have control of the private key associated with the address.</p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>6. How much of the Total supply of TLN is in the first Merkle drop?</b>
          </p>
          <p>50% with another 20% scheduled for future airdrops.</p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>7. Which addresses are included in the Merkle drop?</b>
          </p>
          <p>These are the groups of eligible addresses that can now claim their TLN tokens.</p>
          <ul>
            <li>Early contributors to the
              <a href="https://trustlines.network/" target="_blank">Trustlines Network</a>
              ecosystem. This includes, for example, testers and
              <a href="https://explore.laika.trustlines.foundation/" target="_blank">testnet</a>
              validators, as well as those who whitelisted their address to become validators, but did not secure a slot in the
              <a href="auction/">auction</a>
            </li>
            <li>People who were interested in participating in the drop via our
              <a href="https://twitter.com/TrustlinesFound/status/1201901024576987137" target="_blank">community channels</a>
            </li>
            <li>
              <a href="https://ethberlinzwei.com/" target="_blank">ETHBerlin2</a>
              hackers</li>
            <li>Addresses included in the Genesis block of
              <a href="https://ethereum.org/" target="_blank">Ethereum</a>
              (with at least one transfer executed)</li>
            <li>MKR, BNT and DAI token holders</li>
            <li>
              <a href="https://blog.gnosis.pm/the-dxdao-has-awoken-78cb2e39661c" target="_blank">dxDAO</a>
              Rep holders and
              <a href="https://www.humanitydao.org/" target="_blank">HumanityDAO</a>
              human participants</li>
            <li>POAP, Proof-of-Attendance NFT holders</li>
            <li>Collection of ETH addresses, that underwent some form of identity verification in the past</li>
          </ul>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>8. How many TLN do I get?</b>
          </p>
          <p>This is highly dependent on which group your address inherits eligibility from. Overall, individual early contributors and testers receive more tokens than individuals from larger groups of token holders.</p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
          <p>
            <b>9. What can I do with my TLN?</b>
          </p>
          <p>TLN is an ERC20 token that can be traded with buyers or be converted to TLC by sending them to a bridge contract.</p>
        </div>
      </div>

    </div>
  </div>
</section>

{% if env.SHOW_MERKLE_DROP === 'true' %}
  <section class="section content-wrapper">
    <div id="root"/>
  </section>
{% endif %}

<div class="content">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
{% endblock %}
