<footer class="footer">

      <div class="container">
        <div class="footer_top content">
          <p class="footer_text"><h3><a href="https://blog.trustlines.network/trustlines-foundation-announcement/">Trustlines Foundation is a part of the Trustlines Network ecosystem</a></h3></p>
          <p class="icons">
            <a href="https://medium.com/trustlines-foundation"><i class="fab fa-twitter icon"></i></a>
            <a href="https://medium.com/trustlines-foundation"><i class="fab fa-discourse icon"></i></a>
            <a href="https://medium.com/trustlines-foundation"><i class="fab fa-youtube icon"></i></a>
          </p>
        </div>

        <div class="columns">
          <div class="column is-one-fifth content">
            <h4>Websites</h4>
            <p><a href="Trustlines Network"><i class="fas fa-link"></i> Trustlines Network</a></p>
            <p><a href="Trustlines Network"><i class="fas fa-link"></i> Trustlines Blog</a></p>
            <p><a href="Trustlines Network"><i class="fas fa-link"></i> Trustlines Docs</a></p>
            <p><a href="Trustlines Network"><i class="fas fa-link"></i> Trustlines App</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Community</h4>
            <p><a href="Trustlines Network"><i class="fab fa-discourse"></i> Trustlines Forum</a></p>
            <p><a href="Trustlines Network"><i class="fas fa-envelope"></i> Trustlines Newsletter</a></p>
            <p><a href="Trustlines Network"><i class="fab fa-telegram"></i> Trustlines Network in Telegram</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Developers</h4>
            <p><a href="Trustlines Network"><i class="fab fa-github"></i> Trustlines in GitHub</a></p>
            <p><a href="Trustlines Network"><i class="fas fa-link"></i> Dev Docs</a></p>
            <p><a href="Trustlines Network"><i class="fab fa-gitter"></i> Trustlines Technical Chat</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Trustlines Blockchain</h4>
            <p><a href="https://explore.tlbc.trustlines.foundation">Blockexplorer</a></p>
            <p><a href="https://netstats.tlbc.trustlines.foundation">Netstats</a></p>

            <h4>Laika Testnet</h4>
            <p><a href="https://explore.laika.trustlines.foundation/">Blockexplorer</a></p>
            <p><a href="https://netstats.laika.trustlines.foundation">Netstats</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Legal</h4>
            <p><a href="/legal-imprint-privacy-policy.html"><i class="far fa-file"></i> Privacy Policy &amp; Legal Imprint</a></p>
            <p><a href="/terms-conditions-merkle-drop.html"><i class="far fa-file"></i> Merkle drop Terms &amp; Conditions</a></p>
          </div>

      </div>

      <div class="footer_bottom content">
        <p class="footer_text">
          <img src="/img/logo-light.svg" class="logo"><br/>
          Copyright © 2020, Trustlines Foundation.<br/><br/>
          <a href="mailto:contact@trustlines.foundation">Contact</a>
        </p>
      </div>
    </div>
    </div>
</footer>
